<%- include('../partials/header') %>


    <div class="horizontal">

        <div class="vertical">
                <div id=widget>
                    <h3> Create an Event!</h3>
                    <p id="indDesc">
                        Here you can add new events to your planner! You may type in
                        any address in the world and our api will convert that address into 
                        latitudinal and longitudinal coordinates that will be used to 
                        grab weather data for your events! You can be as specific as the address 
                        for the location you want to go to, or generic using the City Name, and State or
                        Country Name! Then add a date with specific time informtation (not required) along with
                        notes, which are not required either! You can always edit / update the information later.
                        Only the location will be un-editable. You will have to create new event if you want to change the location.
                        Have fun!
                    </p>
                </div>
        </div>

        <div class="vertical" id="mainPageTitle">
            <div id="allEventMargin">
                <div class="event" class="horizontal">
                    <div class="vertical">
                        <h3><%= titlePage %></h3>
                        <form class="vertical" class="newEvent" action="/events" method="POST">
                                <label>Title</label>
                                <input type="text" name="title">
                                <label>Location</label>
                                <input type="text" name="locationName" placeholder="Full Address / City / Country">
                                <label>Date</label>
                                <input type="date" name="dateOf">
                                <label>Time</label>
                                <input type="time" name="time">
                                <label>Notes</label>
                                <textarea type="textarea" name="notes"></textarea>
                                <input type="submit" value="Add Event">
                        </form>
                    </div>
                    <div class="weatherBox" class="horizontal">
                        <h3 class="weatherTitle">WEATHER</h3>
                        <p>You will be able to add weather and tags to this
                            space once you have created your event. You can update both
                            on the details page for that event! The link will be in the
                            event on the main events page.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


<%- include('../partials/footer') %>