

        <% if (user) { %>
        <div id=footer>
            <h3 id="footerH3">SPECIAL THANKS TO:
            <a href="https://developer.myptv.com/">PTV DEVELOPER GEOCODING API</a>
            &
            <a href="https://openweathermap.org/">OPEN WEATHER MAP API</a></h3>
            <li><a class="navNames" href="/logout">LOG OUT</a></li>
        </div>
        <% } %>
    </body>
</html>