

        <% if (user) { %>
        <div id=footer>
            <h3 id="footerH3">SPECIAL THANKS TO:
            <a href="https://developer.myptv.com/" target="_blank" >PTV DEVELOPER GEOCODING API</a>
            &
            <a href="https://openweathermap.org/" target="_blank" >OPEN WEATHER MAP API</a>
            <a id="logout" href="/logout">LOG OUT</a></h3>
        </div>
        <% } %>
    </body>
</html>