<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>
        CLIMATE EVENTS
    </title>
</head>
<body>
    <nav id="navigation">
        <h1>CLIMATE EVENTS</h1>
            <% if (user) { %>
            <h3>Welcome: <%= user.name %></h3>
            <a class="navNames"href="/events" >MAIN PAGE</a>
            <a class="navNames"href="/events/new">ADD EVENT</a>
            <a class="navNames"href="/events/past">PAST EVENTS</a>
            <a class="navNames"href="/logout">LOG OUT</a>
            <% } else { %>
            <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
            <% } %>
    </nav>

   

