<%- include('./partials/header') %>
    <div id="landPage">
        <img src="/images/climate-events-logo.png" alt="logo" height="400px">
        <a href="/auth/google" class="login">LOG IN WITH GOOGLE&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
    </div>
<%- include('./partials/footer') %>