body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  background-image: url(../public/images/climate-events-logo.png);
  background-color: rgb(253, 235, 213);
  width: 100%;
  height: 100vh;
  margin: 0;
}

.vertical {
  display: flex;
  flex-direction: column;
}


.horizontal {
  display: flex;
  flex-direction: row;
}

#landPage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top: 25vh;
}

#navDisplay {
  display: flex;
  flex-direction: row;
  background-image: url("/images/stone2.jpeg");

}

#footer {
  display: flex;
  flex-direction: row;
  background-image: url("/images/stone2.jpeg");
  margin-top: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

#insideLogo {
  max-height: 75px;
  max-width: auto;
  float: left;
  align-self: center;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

li {
  margin: 10px;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

#widget {
  min-width: 300px;
  width: 300px;
  height: fit-content;
  margin-top: 15px;
  margin-right: 20px;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;  
  text-align: center;
}

#tagSearchTitle {
  margin-top: 5px;
  margin-bottom: 3px;
}

#tagSearch {
  min-width: 300px;
  width: 300px;
  height: fit-content;
  margin-bottom: 5px;
  display: flex;
  flex-wrap: wrap;
}

#mainPageTitle {
  text-align: center;
}

#allEventMargin {
  height: 73vh;
  overflow: scroll;
}

.event {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
  border-style: solid;
  border-color: purple;
  border-width: 5px;
  margin: 20px;
  border-radius: 10px;
  padding: 10px;
  background-color: lightblue;
  min-width: 600px;
  max-width: 600px;
  min-height: 200px;
  box-shadow: 3px 5px rgba(0, 0, 0, 0.25);
}

#show {
  margin-bottom: 50px;
}

#tags{
  background: none;
  color: purple;
  border-style: none;
  text-decoration: underline;
  cursor: pointer;
  margin: 5px;
}

.eventTitle {
  color: blue;
  font-weight: 500;
  font-size: medium;
  text-transform: uppercase;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

#indDesc {
  max-width: 300px;
}

.eventTable {
  padding: 5px;
  margin-right: 5px;
  display: flex;
  flex-direction: column;
  border: solid 3px purple;
  border-radius: 10px;
  min-width: fit-content;
  box-shadow: 10px;
  text-align: left;
}

.weatherBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 3px purple;
  border-radius: 10px;
  min-width: fit-content;
  padding: 5px;

}

.weatherText {
  margin: 2px;
}

.weatherTitle {
  font-weight: 500;
  font-size: medium;
  text-transform: uppercase;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

