body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  background-image: url("/images/background-main4.png");
  background-size: cover;
  width: 100%;
  height: 100vh;
  margin: 0;
}

.vertical {
  display: flex;
  flex-direction: column;
}


.horizontal {
  display: flex;
  flex-direction: row;
}

#landPage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top: 25vh;
}

#navDisplay {
  display: flex;
  flex-direction: row;
  background-color: rgba(0,0,0,0.5);
  align-items: center;
  /* justify-content: center; */
}

#footer {
  display: flex;
  flex-direction: row;
  background-color: rgba(0,0,0,0.5);
  margin-top: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

#footerH3 {
  margin-left: 20px;
}

#insideLogo {
  max-height: 75px;
  max-width: auto;
  margin-top: 5px;
  margin-left: 25px;
  margin-right: 27vw;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

li {
  margin: 10px;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

.widget {
  min-width: 300px;
  width: 300px;
  height: fit-content;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;  
  text-align: center;
  background-color:rgba(226, 226, 226);
  padding: 5px;
}

#search {
  overflow: scroll;
  max-height: 20vh;
}

#tagSearchTitle {
  margin-top: 5px;
  margin-bottom: 3px;
}

#tagSearch {
  min-width: 300px;
  width: 300px;
  height: fit-content;
  margin-bottom: 5px;
  display: flex;
  flex-wrap: wrap;
}

#mainPageTitle {
  text-align: center;
}

#allEventMargin {
  height: 73vh;
  overflow: scroll;
  border-style: solid;
  border-radius: 10px;
  border-width: 0.5px;
  background-color: rgba(128, 128, 128, 0.6);
}

.event {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
  border-style: solid;
  border-color: black;
  border-width: 2.5px;
  margin: 20px;
  border-radius: 10px;
  padding: 10px;
  background-color: grey;
  min-width: 600px;
  max-width: 600px;
  min-height: 200px;
  box-shadow: 3px 5px rgba(0, 0, 0, 0.25);
}

.newEvent, label {
  text-align: left;

}

#show {
  margin-bottom: 50px;
}

.tags{
  border-style: none;
  text-decoration: underline;
  cursor: pointer;
  margin: 5px;
  background-color: none;
}

.tags2 {
  border-style: none;
  text-decoration: underline;
  cursor: pointer;
  margin: 5px;
  color: purple;
  background: rgba(226, 226, 226);
}

.eventTitle {
  color: blue;
  font-weight: 500;
  font-size: medium;
  text-transform: uppercase;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

#indDesc {
  max-width: 300px;
  margin-top: 5px;
}

.eventTable {
  padding: 5px;
  margin-right: 5px;
  display: flex;
  flex-direction: column;
  border: solid 1.5px black;
  border-radius: 10px;
  min-width: fit-content;
  box-shadow: 10px;
  text-align: left;
  background-image: url("/images/background-main5.jpeg");
  background-size: cover;
  box-shadow: 3px 5px rgba(0, 0, 0, 0.25);
}

.weatherBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1.5px black;
  background-image: url("/images/background-main5.jpeg");
  background-size: cover;
  border-radius: 10px;
  min-width: fit-content;
  padding: 5px;
  box-shadow: 3px 5px rgba(0, 0, 0, 0.25);
}

.weatherText {
  margin: 2px;
}

#zeroMargin {
  margin-top: 0;
}

.weatherTitle {
  font-weight: 500;
  font-size: medium;
  text-transform: uppercase;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

#iconBurst {
  border-radius: 20px;
  background: radial-gradient(white, rgb(82, 82, 82));
}

#logout {
  color: white;
  text-decoration: none;
  margin-left: 28vw;
}

.divTag{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.navNames {
  text-decoration: none;
  color: white;
  margin: 25px;
}

#one, #two, #three {
  color: white;
  text-decoration: none;
  margin: 25px;
}
